*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    position: relative;
    
}
.container {
    position: absolute;
    top: 0;
    min-width: 100%;
    margin: auto;
}

.navbar {
    display:flex;
    justify-content: center;
    align-items: row;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: white;
    width: 100%;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.5);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    color: white;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  color: white;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    color: white;
}

.navbar .menu-items {
    padding-top: 60px;
    background-color: black;
    /* box-shadow: inset 0 0 2000px rgba(255, 255, 255, .5); */
    height: 100vh;
    width: max-content;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: -40px;
    padding-left: 10px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.navbar .menu-items li a {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.logo {
    display:flex;
    justify-self: center;
    align-items: center;
    position: absolute;
    flex-direction:row;
    top: 12px;
    left: 5rem;
    font-size: 1.5rem;
    color: #d84444;
}
.updown{
    height:5rem;
    width: 5rem;
    object-fit: cover;
    float: right;
    margin-bottom: 1rem;
    z-index: 1000;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

@media only screen and (max-width: 600px) {
    .updown{
        margin-left:4rem;
        margin-top: 0.2rem;
        float:right;
        height:10%;
        width: 10%;
    }
}

.data-table-container{
    margin-top: 100px;
}
table{
    border-collapse: collapse;
    width: 900px;
    height: 120px; 
    margin: auto;
    border: 1px solid rgb(244, 238, 247);
}

tr{
    transition: all .2s ease-in;
    cursor: pointer;
}

th,td{
    padding: 12px;
    text-align: left;
    border-bottom: 1px solid rgb(240, 241, 236);
}
    
.table__header{
    background-color: turquoise;
    color:white;
}

.table__heading{
    width: 900px;
    margin: auto;
    font-weight: 600;
    text-align: center;
    background-color: turquoise;
    color: black;
    padding: 10px 0px;
}

tr:nth-child(even) {
    background-color: rgb(191, 216, 191);
}

tr:nth-child(2) {
    background-color: transparent;
}

table tr td a{
    text-decoration: none;
}


/*media query*/

@media only screen and (max-width: 884px){
    table{
       width:80%;
}
    .table__heading{
        width: 80%;
    }
}