* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
}

html {
  font-size: 67.5%;
  color: #fff;
}

body {
  background-image: url("./img/background.jpg");
  background-size: 100vw 100vh;
  background-repeat: no-repeat;
  object-fit: cover;
}

.forgotPassword {
  width: 28rem;
  margin: auto;
  margin-top: 5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo {
  width: 200px;
  height: 200px;
  object-fit: cover;
  border-radius: 50%;
  margin-bottom: 2rem;
}

.forgotPassword-container {
  width: 28rem;
  height: 30rem;
  background: transparent;
  border-radius: 0.3rem;
  text-align: center;
  padding-top: 2rem;
}

.forgotPassword-container.register {
  /* Register form height */
  height: 42rem;
}

.forgotPassword-container .text-field {
  border: none;
  outline: none;
  width: 23rem;
  height: 4rem;
  border-radius: 50px;
  margin-top: 10px;
  padding-left: 20px;
  color: #6c6c6c;
  background: #fcfcfc;
  font-size: 1.5rem;
  outline: none;
  text-transform: uppercase;
}

.forgotPassword-container .text-field:focus {
  box-shadow: inset 0 0 2px rgba(0, 0, 0, 0.3);
  color: #a6a6a6;
  background: white;
}

.forgotPassword-container .login-button {
  border-radius: 3px;
  border: 2px solid #42f2f5;
  width: 242px;
  height: 40px;
  margin-top: 20px;
  background-color: transparent;
  cursor: pointer;
  color: gray;
  font-size: 1.5rem;
  transition: all 0.5s;
}

.forgotPassword-container .login-button:hover {
  background-color: #42f2f5;
  color: #fff;
  transform: scale(1.1);
  outline: none;
}

.forgotPassword-container h2 {
  color: #42f2f5;
  margin-bottom: 2rem;
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 0.1em;
}

.forgotPassword-container .forget-password {
  display: block;
  text-decoration: none;
  text-align: right;
  margin-right: 3rem;
  margin-top: 1rem;
  color: #6c6c6c;
  font-size: 1.5rem;
}

@media (max-width: 770px) {
  .forgotPassword-container {
    width: 35rem;
    height: 30rem;
  }

  .forgotPassword-container .text-field {
    /* Input fields; Username, Password etc. */
    width: 30rem;
    height: 4rem;
    font-size: 1.5rem;
  }

  .forgotPassword-container .login-button {
    /* Submit button */
    width: 30rem;
    height: 40px;
  }
}

@media (max-width: 430px) {
  .forgotPassword-container {
    width: 28rem;
    height: 26rem;
  }

  .forgotPassword-container .text-field {
    /* Input fields; Username, Password etc. */
    width: 23rem;
    height: 4rem;
  }

  .forgotPassword-container .login-button {
    /* Submit button */
    width: 242px;
    height: 40px;
  }
}
