@import url('https://fonts.googleapis.com/css?family=Raleway:400,700');

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;	
	font-family: 'Roboto', sans-serif;
	font-family: 'Source Sans Pro', sans-serif;  
}

body {
	background-image: url('./img/photo-3.jpg');
    background-size: 100vw 100vh;
    background-repeat: no-repeat;
	object-fit: cover;

}

.login-container {
	display: flex;
	align-items: center;
	justify-content: center;
	max-height: min-content;
    margin-top: 5rem;
}

.login-screen {		
	background-color: white;		
	position: relative;	
	max-height: min-content;
	width: 30%;	
	box-shadow: 0px 0px 20px black;
}

@media  only screen and (max-width: 1100px) {
    .login-screen {		
		width: 50%;	
	}
}

@media  only screen and (max-width: 768px) {
    .login-screen {		
		width: 60%;	
	}
}

@media  only screen and (max-width: 550px) {
    .login-screen {		
		width: 80%;	
	}
}

@media  only screen and (max-width: 425px) {
    .login-screen {		
		width: 100%;	
	}
}


.login-screen__content {
	z-index: 1;
	position: relative;	
	height: 100%;
	width: 100%;
}

.login {
	padding: 30px 15px;
	padding-top: 150x;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.login__field {
	padding: 20px 0px;	
	position: relative;	
}

.login__icon {
	position: absolute;
	top: 30px;
	font-size: 1.2rem;
	color: #7875B5;
}

.login__input {
	border: none;
	border-bottom: 2px solid #D1D1D4;
	background: none;
	padding: 10px;
	padding-left: 24px;
	font-size: 1.1rem;
	font-weight: 700;
	width: 100%;
	transition: .2s;
}

.login__input:active,
.login__input:focus,
.login__input:hover {
	outline: none;
	border-bottom-color: #6A679E;
}

.login__submit {
	background: rgba(60, 106, 206, 0.911);
	font-size: 14px;
	margin-top: 30px;
    margin-bottom: 20px;
	padding: 8px 12px;
	border-radius: 26px;
	border: 1px solid #D4D3E8;
	text-transform: uppercase;
	font-weight: 700;
	display: flex;
	align-items: center;
	width: 40%;
	color: #ebeaee;
	box-shadow: 0px 2px 2px #d5d4e0;
	cursor: pointer;
    text-align: center;
	font-size: 1.2rem;
    display: flex;
    justify-content:center;
    align-items: center;
    text-decoration: none;
	transition: all .2s;
}

.login__submit:active,
.login__submit:focus,
.login__submit:hover {
	background-color: rgb(84, 136, 196);
	transform: scale(1.1);
	outline: none;
}

.button__icon {
	font-size: 24px;
	margin-left: 1.5rem;
	color: white;
}
