* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-image: url(./img/back2.jpg);
  background-size: cover;
  object-fit: cover;
  font-family: "Roboto", sans-serif;
  font-family: "Source Sans Pro", sans-serif;
}

/*----------------------------------------------------------------*/
#navbar {
  padding: 5px;
  color: rgb(13, 26, 38);
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  height: 70px;
  line-height: 60px;
  width: 100%;
  z-index: 10;
}

.logo-container {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5rem;
  margin-left: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-container .top {
  background-color: white;
  border-radius: 50%;
  margin-bottom: 1rem;
  padding: 5px;
}

.nav-wrapper {
  margin: auto;
  text-align: center;
  width: 100%;
}
/* @media (max-width: 640px) {
  .nav-wrapper {
    width: 25%;
  }
} */

.logo {
  float: left;
  margin-left: 28px;
  margin-top: 5px;
  font-size: 1.5em;
  height: 60px;
  letter-spacing: 1px;
  text-transform: uppercase;
}

#navbar ul {
  display: inline-block;
  float: right;
  list-style: none;
  margin-top: -95px;
  margin-right: 2rem;
  text-align: right;
  transition: transform 0.5s ease-out;
  -webkit-transition: transform 0.5s ease-out;
}
@media (max-width: 1100px) {
  #navbar #menu {
    display: none;
  }
}

@media (orientation: landscape) {
  #navbar ul {
    display: inline-block;
  }
}

#navbar li {
  display: inline-block;
}

#navbar li a {
  color: #59baae;
  display: block;
  font-size: 1rem;
  font-weight: bold;
  height: 50px;
  letter-spacing: 1px;
  margin: 0 10px;
  padding: 0 4px;
  position: relative;
  text-decoration: none;
  text-transform: uppercase;
  transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

#navbar li a:hover {
  transition: all 1s ease;
  -webkit-transition: all 1s ease;
}

/* Animated Bottom Line */
#navbar li a:before,
#navbar li a:after {
  content: "";
  position: absolute;
  width: 0%;
  height: 3px;
  bottom: -1px;
  background: #59baae;
}

#navbar li a:before {
  left: 0;
  transition: 0.5s;
}

#navbar li a:after {
  background: #59baae;
  right: 0;
}

#navbar li a:hover:before {
  background: #59baae;
  width: 100%;
  transition: width 0.5s cubic-bezier((0.22, 0.61, 0.36, 1));
}

#navbar li a:hover:after {
  background: transparent;
  width: 100%;
}
@media (max-width: 1100px) {
  .menuIcon {
    cursor: pointer;
    display: block;
    position: fixed;
    right: 15px;
    top: 20px;
    height: 23px;
    width: 27px;
    z-index: 12;
  }

  .icon-bars {
    background: rgb(13, 26, 38);
    position: absolute;
    left: 1px;
    top: 45%;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.4s;
    transition: 0.4s;
  }

  .icon-bars::before {
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    top: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  .icon-bars::after {
    margin-top: 0px;
    background: rgb(13, 26, 38);
    content: "";
    position: absolute;
    left: 0;
    bottom: -8px;
    height: 2px;
    width: 20px;
    -webkit-transition: 0.3s width 0.4s;
    transition: 0.3s width 0.4s;
  }

  /* Bars Shadows */
  .icon-bars.overlay {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 20px;
    animation: middleBar 3s infinite 0.5s;
    -webkit-animation: middleBar 3s infinite 0.5s;
  }

  @keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }
  @-webkit-keyframes middleBar {
    0% {
      width: 0px;
    }
    50% {
      width: 20px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::before {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 10px;
    animation: topBar 3s infinite 0.2s;
    -webkit-animation: topBar 3s infinite 0s;
  }

  @keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }

  @-webkit-keyframes topBar {
    0% {
      width: 0px;
    }
    50% {
      width: 10px;
    }
    100% {
      width: 0px;
    }
  }

  .icon-bars.overlay::after {
    background: rgb(97, 114, 129);
    background: rgb(183, 199, 211);
    width: 15px;
    animation: bottomBar 3s infinite 1s;
    -webkit-animation: bottomBar 3s infinite 1s;
  }

  @keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }

  @-webkit-keyframes bottomBar {
    0% {
      width: 0px;
    }
    50% {
      width: 15px;
    }
    100% {
      width: 0px;
    }
  }

  .menuIcon.toggle .icon-bars {
    top: 5px;
    transform: translate3d(0, 5px, 0) rotate(135deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars::before {
    top: 0;
    transition-delay: 0.1s;
    opacity: 0;
  }

  .menuIcon.toggle .icon-bars::after {
    top: 10px;
    transform: translate3d(0, -10px, 0) rotate(-270deg);
    transition-delay: 0.1s;
    transition: transform 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
  }

  .menuIcon.toggle .icon-bars.overlay {
    width: 20px;
    opacity: 0;
    -webkit-transition: all 0s ease 0s;
    transition: all 0s ease 0s;
  }
}

.overlay-menu {
  background: #59baae;
  z-index: 1000;
  color: white;
  font-weight: 600;
  display: flex;
  align-items: center;
  justify-self: flex-start;
  flex-direction: column;
  position: fixed;
  top: 0;
  bottom: 0;
  padding-right: 15px;
  padding-left: 20px;
  transform: translateX(-100%);
  min-width: max-content;
  height: 100%;
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  -webkit-transition: transform 0.2s ease-out;
  transition: transform 0.2s ease-out;
}

.logo-mobcontainer {
  width: 1rem;
  height: 1rem;
  object-fit: cover;
  border-radius: 50%;
  margin-top: 5rem;
  margin-left: 1rem;
  margin-bottom: 6rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.logo-mobcontainer .top {
  background-color: white;
  padding: 10px;
  border-radius: 50%;
}

.overlay-menu .icons {
  margin-right: 1rem;
}

.overlay-menu ul,
.overlay-menu li {
  display: block;
  position: relative;
}

.overlay-menu li {
  display: flex;
  align-items: center;
}

.overlay-menu li a {
  display: block;
  font-size: 1.2rem;
  color: #fff;
  float: left;
  text-decoration: none;
  padding: 10px 0;
  text-transform: uppercase;
  -webkit-transition: color 0.3s ease;
  transition: color 0.3s ease;
}

/*----------------------------------------------------------------*/
.circle-image {
  width: 40vw;
  height: 100%;
  margin-top: 0rem;
  margin-bottom: 0rem;
  position: fixed;
  opacity: 1;
}

.manage-doctors-title {
  text-align: center;
  width: 60%;
  margin: auto;
  font-size: 1.5rem;
  font-weight: bold;
  color: #59baae;
  margin-top: 1.5rem;
  border-bottom: 3px solid #59baae;
  padding: 0.5rem 1rem;
}
.doctor-content {
  float: right;
  width: 40vw;
  margin-top: 4rem;
  margin-bottom: 2rem;
}

@media (max-width: 1000px) {
  .circle-image {
    display: none;
  }

  .doctor-content {
    float: none;
    min-width: 30rem;
    margin: auto;
    margin-top: 2rem;
  }
}

@media (max-width: 768px) {
  .doctor-content {
    margin-top: 10rem;
  }
}

@media (max-width: 550px) {
  .doctor-content {
    min-width: 25rem;
    margin: auto;
    margin-top: 10rem;
    margin-left: 1.5rem;
  }
}
.manageDoctors-container .loader-text {
  color: #59baae;
  font-weight: bold;
}

.number-content .text-top {
  margin-top: 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  width: 100px;
}
.loader {
  width: 90% !important;
}

.number-content .text-bottom {
  color: gray;
  font-size: 1rem;
}
.search-form {
  margin-top: 1rem;
  padding: 2px;
  padding-left: 0px;
  font-size: 17px;
  border-radius: 30px;
  float: left;
  width: 90%;
  background: #fff;
  margin-bottom: 2rem;
}

.search-form input {
  border: none;
  outline: none;
  background: transparent;
}

.search-form button {
  border: none;
  outline: none;
  background: transparent;
  background-color: #21d4fd;
  background-image: linear-gradient(19deg, #21d4fd 0%, #b721ff 100%);
  border-radius: 30px;
  float: left;
  width: 20%;
  color: white;
  font-size: 20px;
  margin-right: 2rem;
  cursor: pointer;
}

.doctors {
  margin-top: 2rem;
  width: 90%;
}

.doctors-container {
  display: flex;
  margin-top: 1.5rem;
  align-items: center;
  border-bottom: 1px solid gray;
  padding: 1rem;
  padding-top: 0rem;
}

.doctors-container .doctors-image {
  width: 4rem;
  height: 4rem;
  object-fit: cover;
  border-radius: 50%;
  margin-right: 1rem;
}

.doctors-container .doctors-name {
  flex: 1;
  font-weight: bold;
}

.add-doctor__button {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
}

.add-doctor__button .button-text {
  text-decoration: none;
}

.add-doctor__button .add-doctor__button-save {
  background-color: transparent;
  border: 2px solid #59baae;
  width: 20rem;
  padding: 0.5rem 1rem;
  text-transform: uppercase;
  color: gray;
  font-size: 1.2rem;
  font-weight: bold;
  border-radius: 1rem;
  transition: all 0.5s;
}

.add-doctor__button .add-doctor__button-save:hover {
  color: white;
  background-color: #59baae;
  transform: scale(1.2);
}

@media only screen and (max-width: 500px) {
  .add-doctor__button {
    display: block;
    width: 100vw !important;
    margin: 0;
    left: 0;
    right: 0;
    margin: auto;
    position: fixed;
    top: 92%;
  }

  .last-child {
    margin-bottom: 5rem;
  }

  .add-doctor__button .add-doctor__button-save {
    width: 100% !important;
    font-size: 1.5rem;
    background-color: #59baae;
    color: #fff;
  }
}

/* @media only screen and (max-width: 400px) {
  .loader {
    width: 60% !important;
    margin: auto;
  }
} */
