* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    background-image: url('./img/photo-3.jpg');
    background-size: cover;
    object-fit: cover;
  }


.container {
    min-width: 100%;
    margin: auto;
}

.navbar {
    position: absolute;
    top: 0;
    display:flex;
    justify-content: center;
    align-items: row;
    flex-wrap: wrap;
    width: 100%;
    box-shadow: 0 1px 4px rgb(146 161 176 / 15%);
    z-index: 1000;
}

.nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 62px;
    background-color: white;
    width: 100%;
}

.navbar .menu-items {
  display: flex;
}

.navbar .nav-container li {
  list-style: none;
}

.navbar .nav-container a {
    text-decoration: none;
    color: #0e2431;
    font-weight: 500;
    font-size: 1.2rem;
    padding: 0.7rem;
}

.navbar .nav-container a:hover{
    font-weight: bolder;
}

.nav-container {
    display: block;
    position: relative;
    height: 60px;
}

.nav-container .checkbox {
    position: absolute;
    display: block;
    height: 32px;
    width: 32px;
    top: 20px;
    left: 20px;
    z-index: 5;
    opacity: 0;
    cursor: pointer;
}

.nav-container .hamburger-lines {
    display: block;
    height: 26px;
    width: 32px;
    position: absolute;
    top: 17px;
    left: 20px;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.nav-container .hamburger-lines .line {
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 10px;
    background: rgba(255, 0, 0, 0.5);
}

.nav-container .hamburger-lines .line1 {
    transform-origin: 0% 0%;
    transition: transform 0.4s ease-in-out;
    color: white;
}

.nav-container .hamburger-lines .line2 {
  transition: transform 0.2s ease-in-out;
  color: white;
}

.nav-container .hamburger-lines .line3 {
    transform-origin: 0% 100%;
    transition: transform 0.4s ease-in-out;
    color: white;
}

.navbar .menu-items {
    padding-top: 60px;
    background-color: black;
    height: 100vh;
    width: max-content;
    transform: translate(-150%);
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items:center;
    margin-left: -40px;
    padding-left: 10px;
    transition: transform 0.5s ease-in-out;
    text-align: center;
}

.navbar .menu-items li {
    margin-bottom: 1.2rem;
    font-size: 1.5rem;
    font-weight: 500;
    color: white;
    text-align: center;
}

.navbar .menu-items li a {
    font-weight: 500;
    color: white;
    text-transform: uppercase;
    text-align: center;
}

.logo {
    display:flex;
    position: absolute;
    flex-direction:row;
    top: 12px;
    left: 5rem;
    font-size: 1.5rem;
    color: #d84444;
}
.updown{
    height:5rem;
    width: 5rem;
    object-fit: cover;
    float: right;
    margin-bottom: 1rem;
    z-index: 1000;
}
.nav-container input[type="checkbox"]:checked ~ .menu-items {
  transform: translateX(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line1 {
  transform: rotate(45deg);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line2 {
  transform: scaleY(0);
}

.nav-container input[type="checkbox"]:checked ~ .hamburger-lines .line3 {
  transform: rotate(-45deg);
}

.nav-container input[type="checkbox"]:checked ~ .logo{
  display: none;
}

@media only screen and (max-width: 600px) {
    .updown{
        margin-left:4rem;
        margin-top: 0.2rem;
        float:right;
        height:10%;
        width: 10%;
    }
}
/*----------------------------------------------------------------Navbar------------------*/
  
  .Container_whole{
    width:90%;
    margin: auto;
    height: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap:wrap;
    margin-top: 100px !important;
  }
  
  .calendar {
    width:300px;
    position: relative;
    background-color: #fff;
    box-sizing: border-box;
    box-shadow: 0 5px 50px rgba(#000, 0.5);
    border-radius: 8px;
    overflow: hidden;
    /* width: 22%; */
    margin: 10px 1px 10px 1px;
    /* float: left; */
  }
  
  .calendar__picture {
    position: relative;
    height: 200px;
    padding: 20px;
    color: #fff;
    background: #262626 url("https://images.unsplash.com/photo-1516912481808-3406841bd33c?ixlib=rb-0.3.5&q=85&fm=jpg&crop=entropy&cs=srgb&ixid=eyJhcHBfaWQiOjE0NTg5fQ&s=183f2924ba5a8429441804609b2d4f61") no-repeat center / cover;
    text-shadow: 0 2px 2px rgba(#000, 0.2);
    box-sizing: border-box;
  }
  .calendar__picture::before {
    content: "";
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    position: absolute;
    background: linear-gradient(to top, rgba(#000, 0.25), rgba(#000, 0.1));
  }

  .calender__picture  h2 {
    margin: 0;
  }

  .calendar__picture h3{
    margin: 0;
    font-weight: 500;
  }
  
  .calendar__date {
    padding: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(25px, 1fr));
    grid-gap: 10px;
    box-sizing: border-box;
  }
  
  .calendar__day {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    font-weight: 600;
    color: #262626;
  }

  .calendar__day:nth-child(7) {
    color: #ff685d;
  }
  
  .calendar__number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 25px;
    color: #262626;
  }

  .calendar__number:nth-child(7n) {
    color: #ff685d;
    font-weight: 700;
  }
  
  .calendar__number--current,
  .calendar__number:hover {
    background-color: #009688;
    color: #fff !important;
    font-weight: 700;
    cursor: pointer;
  }